.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F9F9FA;
    font-family: Montserrat, sans-serif;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1008px;
}

.title {
    height: 27px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000;

}

.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1008px;
    padding: 20px;
}

.search {
    text-align: start;
}

.searchLine {
    width: 463px;
    box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.buttonMyAll {
    width: 96px;
    height: 36px;
    box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.sliderContainer {
    width: 250px;
}

.rangeSlider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    margin: 0 15px;
}

.minMaxValue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    padding: 0 10px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.filterOff {
    display: flex;
    align-self: flex-end;
    width: 40px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.preloader {
    position: fixed;
    top: 30%;
    text-align: center;
    width: 100%;
}

.table {
    width: 1008px;
}

