.openPack {
    cursor: pointer;
    font-weight: bold;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.openPack:hover {
    color: #1976d2;
}

.createdBy {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.sortUp:hover {
    cursor: pointer;
    background-image: url("../../assets/img/up.svg");
    background-repeat: no-repeat;
    background-position: 100%;;
}

.sortDown:hover {
    cursor: pointer;
    background-image: url("../../assets/img/down.svg");
    background-repeat: no-repeat;
    background-position: 100%;
}

.deckCover {
    width: 100px;
}